.form{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #a3a3a3;
}

body{
    font-family: Arial;
}

/* Стили заголовка (начало) */

.shadow_background{
    padding: 0%;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}

.title_background{
    background: #A84129;
    height: 40px;
    position: relative;
    width: 350px;
    left: -30px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%, 0% 0%);
}

.title_background_left_rectangle {
    content: '';
    position: relative;
    top: 0; left: -30px;
    border-bottom: 15px solid #ffffff;
    border-right: 15px solid #792D1F;
    width: 0;
}

.title_text{
    font-size: 25px;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 25px;
    margin-top: 15px;
}

/* Стили заголовка (конец) */

/* Стили полей ввода (начало) */

.field{
    display: flex;
    flex-direction: row;
}

.field_text{
    width: 105px;
    margin-top: 10px;
    font-weight: bold;
    color: #655F6C;
    font-size: 14px;
    font-family: Helvetica !important;
}

.input{
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    width: 300px;
    padding-left: 2rem;
    -moz-appearance: textfield;
    padding-right: 0.5em;
}

.input_user{
    background: url('src/assets/user.png') no-repeat left;
    background-position-x: calc(0% + 8px);
    background-size: 5%;
    background-color: white;
}

.input_email{
    background: url('src/assets/email.png') no-repeat left;
    background-position-x: calc(0% + 8px);
    background-size: 5%;
    background-color: white;
}

.input_phone{
    background: url('src/assets/phone.png') no-repeat left;
    background-position-x: calc(0% + 8px);
    background-size: 5%;
    background-color: white;
}

.icon_right{
    position: absolute;
    right: 0.5em;
    top: 1em;
    width: 17px;
    height: 17px;
}

.input_message{
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    max-height: 250px;
    min-height: 100px;
    max-width: 325px;
    min-width: 325px;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-family: Arial;
}

.input_code{
    height: 25px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    width: 100px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-appearance: textfield;
}

.number::-webkit-inner-spin-button{
    -webkit-appearance: none;
    /* margin: 0; */
}

.code{
    position: relative;
    border: 1px solid #F89734;
    color: #F89734;
    width: 60px;
    height: 19px;
    margin-top: 1.2em;
    margin-left: 0.5em;
    padding-left: 10px;
    padding-top: 0px;
    font-family: Verdana !important;
}

.line{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 2px;
    left: -1px;
    height: 1px;
    width: 71px;
}

.line2{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 1px;
    height: 1px;
    left: 4px;
    width: 19px;
    rotate: 90deg;
}

.line3{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 1px;
    height: 1px;
    left: 16px;
    width: 19px;
    rotate: 90deg;
}
.line4{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 1px;
    height: 1px;
    left: 28px;
    width: 19px;
    rotate: 90deg;
}
.line5{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 1px;
    height: 1px;
    left: 40px;
    width: 19px;
    rotate: 90deg;
}
.line6{
    position: absolute;
    border: none;
    background-color: rgb(248, 151, 52, 0.4);
    top: 1px;
    height: 1px;
    left: 52px;
    width: 19px;
    rotate: 90deg;
}

.show-error{
    padding-left: 105px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: red
}

/* Стили полей ввода (конец) */

/* Стили выпадающего списка (начало) */

#select_theme{
    width: 340px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    /* background: #ffffff; */
    appearance: none;
    background: url('src/assets/arrow_down.png') no-repeat right;
    background-position-x: calc(100% - 8px);
    background-size: 5%;
    background-color: white;
    padding-left: 10px;
}

option{
    color: #655F6C;
    background: #ffffff;
}

/* Стили выпадающего списка (конец) */

/* Стили для кнопки (начало) */

button{
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    height: 30px;
    width: 150px;
    margin-left: 105px;
    margin-top: 5px;
    color: #655F6C;
    background: linear-gradient(180deg, #E5E5E5 50%, #F7F7F7 50%);
}

button:hover{
    background: linear-gradient(180deg, #F7F7F7 50%, #E5E5E5 50%);
}

/* Стили для кнопки (конец) */

/* Стили для выходной информации (начало) */

.output{
    background-color: #c4ffce;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    margin-left: 25px;
    margin-top: 25px;
    max-width: 400px;
}

.title_output{
    font-size: 26px;
}

.title_output_text{
    font-size: 20px;
}

.output_text{
    font-size: 16px;
}

/* Стили для выходной информации (конец) */